.contacts-icon {
    color: #fcfcfc;
    border-radius: 50%;
}

.contacts-icon:hover {
    background-color: #2D3440;
    outline: 2px solid #2D3440;
}

.contacts-link:focus {
    outline: none;
}

.contacts-link:focus .contacts-icon {
    outline: 2px solid #2D3440;
}

.bestesller-container-contacts {
    flex-wrap: wrap;
}

.bestseller-contacts {
    display: flex;
    list-style-type: none;
    margin: 0;
    margin-bottom: 48px;
    padding: 0;
    justify-content: flex-end;
}

.contacts-item:not(:last-child) {
    margin-right: 16px;
}